div.product-card{
    display: inline-block;
    border-style: solid;
    width: 275px;
    height: 180px;
    padding: 20px 1px 15px 0px;
    margin: 20px 10px 20px 4.5rem ;
    text-align: center;
    font-size: large;
            

}
.heading{
    position: fixed;
    width: 100%;
    top: 0;
    border-radius: 10px;  
    height: 130px;
    opacity: 4;
    background-color: #f2f2f2;
    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.1);
    

}
.title{
    position: absolute;
    left: 0;
    bottom: 1px;
}
.btns{
    position: absolute;
    right: 0;
    bottom: 1px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-right: 2rem;
    padding-bottom: 5px;
    
}
.inputs{
    padding: 5px 5px 5px 5px ;
    font-size: large;
    margin-left: 1.5rem;
    background-color: #ececec;
   

}
.content{
    margin-top: 8rem;
    width: 100%;
    right: -1;
    padding-bottom: 150px;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.1);
    height: 100px;
    opacity: 1;
    background-color: #f2f2f2
    
}

.delete-checkbox{
    position: relative;
    right: 5.5rem;
    bottom: 1rem;

}

#product_form{
    margin-top: 10%;
    margin-left: 2rem;
    font-size: larger;
    font-weight: 900 ;
    font-family: "Times New Roman", Times, serif;
}





label{
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
}
.form-inputs {
    float: left;
    margin-bottom: 2rem;
  }
  span {
    float: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }


#appended{
    position: absolute;
    float:left;
    display:block;
    left: 3rem;
    bottom: 25%;

}

